page-sample {

    #score_0
    {
        background-color: #992600;
        color: #fff;             
        filter:brightness(105%); 
       }

    #score_1
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 90%, #58CF58 10%);                
        filter:brightness(105%);
    }

    #score_2
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 80%, #58CF58 10%);                
        filter:brightness(105%);    }

    #score_3
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 70%, #58CF58 10%);                
        filter:brightness(105%);    }
    
    #score_4
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 60%, #58CF58 10%);                
        filter:brightness(105%);    }

    #score_5
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 50%, #58CF58 10%);                
        filter:brightness(105%);    }
    
    #score_6
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 40%, #58CF58 10%);                
        filter:brightness(105%);    }

    #score_7
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 30%, #58CF58 10%);                
        filter:brightness(105%);    }

    #score_8
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 20%, #58CF58 10%);                
        filter:brightness(105%);    }

    #score_9
    {
        background-color: #ff9f80;
        color: #fff;
        background-image: linear-gradient(-90deg, #992600 10%, #58CF58 10%);                
        filter:brightness(105%);    }

    #score_10
    {
        background-color: #58CF58;
        color: #fff;
        filter:brightness(105%); 
       }

}
